#main_panel{
 width: 860px;
}

.row {
 margin-bottom: 5px;
}

// 下拉选择框
#vehicles_ul{
 position: absolute;display: none;z-index: 9;min-width: 142px;
 > .list-group-item {
  padding: 5px 10px;
 }
}

// 占位符，一个汉字的长度
.a-empty-world {
 padding-left: 14px;
}

hr {
 border-top: solid #CBCBD5 1px;
}
