#main_panel {
  /*width: 99.5%;*/
  background-color: #f5f5f5;
border: 1px solid #CFCFCF;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
padding: 10px 20px;
margin: 5px 0 0 5px;
/*max-height: 664px;*/
overflow-y: auto;
overflow-x: hidden;
height: 664px;
color: #000;
}
.row {
  /*margin-bottom: 5px;*/
}
#vehicles_ul {
  position: absolute;
  display: none;
  z-index: 9;
  min-width: 142px;
}
#vehicles_ul > .list-group-item {
  padding: 3px 10px;
  font-size: 12px;
  color: #000;
  border:none; 
}
.a-empty-world {
  padding-left: 14px;
}



