.window {
	font-size:12px;
	position:absolute;
	overflow:hidden;
	background-color:#ecf1f7;
	padding:5px;
	border:1px solid #fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.window-shadow{
	position:absolute;
	background:#ddd;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
.window .window-header{
    line-height:15px;
    color:#15428b;
    font-weight:bold;
    font-size:12px;
    position:relative;
	padding:2px 0px 4px 0px;
}

.window-title{
    background:url('../images/blank.gif') no-repeat;
}

.window-tool{
    position:absolute;
}

.window-tool a{
    display:inline-block;
    width:16px;
    height:16px;
    opacity:0.6;
    filter:alpha(opacity=60);
    margin-left:2px;
}
.window-tool a:hover{
    opacity:1;
    filter:alpha(opacity=100);
}

.window-tool-close{
    background:url('../images/panel_tools.gif') no-repeat -16px 0px;
}

.window .window-body{
    overflow:auto;

}
.window .window-body-noheader{
	border-top-width:1px;
}

.window .window-body-noborder{
    border-width:0px;
}

.window .window-header .window-tool{
	top:0px;
	right:0px;/*right:1px;*/
}
.window-proxy{
	position:absolute;
	overflow:hidden;
	border:1px dashed #15428b;
}
.window-proxy-mask{
	position:absolute;
	background:#fafafa;
	filter:alpha(opacity=10);
	opacity:0.10;
}	
.window-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	filter:alpha(opacity=40);
	opacity:0.40;
	background:#999;
	font-size:1px;
	*zoom:1;
	overflow:hidden;
}

.window-footer{
	background:#ecf1f7;
	border:1px solid #999;
    overflow:auto;
    border-top-width:1px;
}

.window-footer input[type=button],.window-footer input[type=reset],.window-footer input[type=submit]{
    margin:0 7px 0 0;
    width:80px;
    background-color:#4791d2;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    border-radius: 3px;
    padding:5px 10px 6px 7px; /* Links */
}
