<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.0.xsd   
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	>

			
	<!-- 数据源属性配置文件 -->
	<context:property-placeholder location="classpath:database.properties" ignore-unresolvable="true"/>

	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="autoCommitOnClose" value="true"/>
		<property name="checkoutTimeout" value="${cpool.checkoutTimeout}"/>
		<property name="initialPoolSize" value="${cpool.minPoolSize}"/>
		<property name="minPoolSize" value="${cpool.minPoolSize}"/>
		<property name="maxPoolSize" value="${cpool.maxPoolSize}"/>
		<property name="maxIdleTime" value="${cpool.maxIdleTime}"/>
		<property name="acquireIncrement" value="${cpool.acquireIncrement}"/>		
		<property name="maxIdleTimeExcessConnections" value="${cpool.maxIdleTimeExcessConnections}"/>
		dy20140207加
		<property name="maxStatements" value="0"/>
		<property name="idleConnectionTestPeriod" value="300" />

	</bean> -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="${driver}" />
		<property name="alias" value="Pool_dbname"/>
		<property name="driverUrl" value="${url}" />
		<property name="user" value="${username}"/>
		<property name="password" value="${password}" />
		<property name="houseKeepingTestSql">
			<value>select 1  from dual</value>
		</property>
		<property name="prototypeCount">
			<value>5</value>
		</property>
		<property name="maximumConnectionCount">
			<value>500</value>
		</property>
		<property name="minimumConnectionCount">
			<value>10</value>
		</property>
		<property name="trace">
			<value>true</value>
		</property>
		<property name="verbose">
			<value>true</value>
		</property>
		<property name="simultaneousBuildThrottle" value="100" />
	</bean>
	<!-- ================================= 事务控制相关 ============================================= -->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="register*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="*lock*" propagation="REQUIRED" />
			<tx:method name="reset*" propagation="REQUIRED" />
			<tx:method name="clear*" propagation="REQUIRED" />
			<tx:method name="login*" propagation="REQUIRED" />
			<tx:method name="login*" propagation="REQUIRED" />
			<tx:method name="bindCar" propagation="REQUIRED" />

			<!-- 将save、delete、modify开头的事务之外的事务全部设置 为只读事务，这样也可以在一定程序上提高系统性能 -->
			<tx:method name="find*" read-only="true" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="query*" read-only="true" />
			<tx:method name="is*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- 配置那些类的那些方法参与事务 -->
	<aop:config>
		<!-- <aop:pointcut>标签指的是一个范围 -->
		<aop:pointcut id="allMagangerMethod" expression="execution(* com.chinaGPS.gtmp.service.BaseService.*(..))" />
		<aop:pointcut id="allMagangerMethod2" expression="execution(* com.chinaGPS.gtmp.service.impl.*.*(..))" />
		<!-- <aop:advisor>标签相当于Aspect -->
		<aop:advisor pointcut-ref="allMagangerMethod" advice-ref="txAdvice" />
		<aop:advisor pointcut-ref="allMagangerMethod2" advice-ref="txAdvice" />
	</aop:config>

	<!-- AOP 日志 -->	
	
	<!--启动spring注解功能-->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 分页拦截器 -->
	<bean id="paginationInterceptor" class="com.chinaGPS.gtmp.action.interceptor.PaginationInterceptor"></bean>
	
	<!-- spring整合mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="typeAliasesPackage" value="com.chinaGPS.gtmp.entity" />
		<property name="mapperLocations" value="classpath*:/com/chinaGPS/gtmp/mapper/sqlmap/*.xml" />
		<property name="dataSource">
   			<ref bean="dataSource" />
  		</property>
  		<property name="plugins">
	    	<ref bean="paginationInterceptor"/>
	    </property>
	</bean>
</beans>
