.data-list-search {
  color: #343f56;
  background: #f2f3f6;
  padding: 7px 20px;
  border-radius: 5px 5px 0 0;
  position: relative;
  border: 1px solid #dadbdb;
  border-bottom-color: #d4d5d9;
  box-shadow: 0 0 4px 2px #e1e1e1; }
  .data-list-search label {
    font-weight: normal;
    font-size: 14px;
    margin: 0 4px 0 0;
    vertical-align: middle; }
  .data-list-search .form-group, .data-list-search .btn {
    margin-right: 10px; }
  .data-list-search .btn {
    color: #fff;
    position: relative; }
    .data-list-search .btn .icon {
      position: absolute;
      left: 10px; }
  .data-list-search .btn-search,
  .data-list-search .btn-export {
    border-radius: 18px;
    padding: 6px 25px 6px 25px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1); }
    .data-list-search .btn-search:active,
    .data-list-search .btn-export:active {
      outline: 0 none; }
  .data-list-search .btn-search {
    background: #37bd9c;
    outline: none; }
  .data-list-search .single-row .input-group {
    display: inline-block;
    vertical-align: middle; }
  .data-list-search .other-operate {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0; }
    .data-list-search .other-operate a {
      display: inline-block;
      width: 48px;
      height: 48px;
      border-left: 1px solid #c9ccd2;
      background-color: #f2f3f6;
      cursor: pointer; }
    .data-list-search .other-operate .icon-reload {
      background: url(../../images/icons/icons_reload.png) no-repeat center center; }
    .data-list-search .other-operate .icon-export {
      background: url(../../images/icons/icons_export.png) no-repeat center center; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,sans-serif; }

html, body {
  height: 100%;
  width: 100%;
  position: relative;
  background: #ebedf3; }

.hide-tree .tree-layout {
  width: 0;
  overflow-x: hidden; }
.hide-tree .data-list {
  padding-left: 20px; }

.tree-toggle-button {
  position: absolute;
  height: 22px;
  width: 22px;
  background: #e9573e url(../../images/icons/tree_toggle_hide.png) no-repeat center center;
  border-radius: 50%;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.4);
  left: 240px;
  top: 36px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .tree-toggle-button.show {
    background: #e9573e url(../../images/icons/tree_toggle_show.png) no-repeat center center;
    left: 0; }

.tree-layout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  width: 250px;
  background: #3d8cd1;
  border-left: 3px solid #4a92d0;
  border-right: 2px solid #3376b2;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .tree-layout .form-group {
    margin: 30px 20px; }
    .tree-layout .form-group .glyphicon {
      color: #1bb5db;
      left: 0; }
  .tree-layout .form-group.search input {
    padding-left: 32px;
    border-radius: 20px;
    background: #347bb9;
    border: none;
    color: #fff; }
    .tree-layout .form-group.search input:focus {
      box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.5); }
  .tree-layout .l-tree {
    margin-left: 10px;
    margin-top: 34px; }

.data-list {
  position: relative;
  padding: 20px 20px 20px 270px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .data-list:before {
    content: ''; }

.operate {
  margin-right: 20px;
  color: #2fb0ee; }
  .operate.delete {
    color: #f24336; }

/*# sourceMappingURL=search-list-grid-tree.css.map */
