<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinagps.driverbook.dao.FuelMapper">

	<select id="findByProvince" parameterType="string" resultType="OilPrice">
		SELECT * FROM t_app_oil_price WHERE province = #{province} ORDER BY stamp DESC LIMIT 1
	</select>
	
</mapper>