<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinagps.driverbook.dao.OperatelogMapper">

	<insert id="add" parameterType="Operatelog">
		INSERT INTO t_sys_operatelog
			(subco_no, user_id, user_name, model_id, op_type, remark)
		VALUES
			(#{subcoNo}, #{userId}, #{userName}, #{modelId}, #{opType}, #{remark})	
	</insert>
	
</mapper>