<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新业务办理</title>
<style>

</style>
</head>
<body>
	<form id='update_view' method='post' class="form" style="width:820px;">
        <div class='title'>服务费></div>
		<fieldset style="width:800px;">
            <div class="panel">
                <input type='checkbox' style='vertical-align:middle;' />
            	<a>xxx服务包</a>
                <span>缴费方式:</span>
                <input type='radio' id="serverpayment1" name="serverpayment1" style='vertical-align:middle;'/>年
                &nbsp;
                <input type='radio' id="serverpayment1" name="serverpayment1" style='vertical-align:middle;'/>月
                
                <span style="padding-left:16px;">服务项价格:</span>
                <input type='text' id="price1" name='price1'  style="width:150px;" />
                
                <span>截止日期:</span>
                <input type='date' id="server_end_time1" name='server_end_time1'  style="width:150px;" />
                
            	<div id="serverItem1" class="datagrid">
            	<div class="hDiv" style="margin:0px;padding:0px;width:760px;">
	                <table>
	                    <thead>
	                    <tr>
	                        <th style="width:40px;">序号</th>
	                        <th style="width:160px;">服务项名</th>
	                        <th style="width:500px;">服务项描述</th>
	                    </tr>
	                    <tr><th>1</th><th>网上查车</th><th></th></tr>
	                    <tr><th>2</th><th>紧急送油</th><th></th></tr>
	                    <tr><th>3</th><th>酒后接送</th><th></th></tr>
	                    <tr><th>4</th><th>车圣宝典</th><th></th></tr>
	                    </thead>
	                </table>
                </div>
                </div>
            </div>
            <div class="panel">
                <input type='checkbox' style='vertical-align:middle;' />
            	<a>网上查车</a>
                <span>缴费方式:</span>
                <input type='radio' id="serverpayment2" name="serverpayment2" style='vertical-align:middle;'/>年
                &nbsp;
                <input type='radio' id="serverpayment2" name="serverpayment2" style='vertical-align:middle;'/>月
                
                <span style="padding-left:16px;">服务项价格:</span>
                <input type='text' id="price2" name='price2'  style="width:150px;" />
                
                <span>截止日期:</span>
                <input type='date' id="server_end_time2" name='server_end_time2'  style="width:150px;" />
                
            	<div id="serverItem2" class="datagrid">
            	<div class="hDiv" style="margin:0px;padding:0px;width:760px;">
	                <table>
	                    <thead>
	                    <tr>
	                        <th style="width:40px;">序号</th>
	                        <th style="width:160px;">服务项名</th>
	                        <th style="width:500px;">服务项描述</th>
	                    </tr>
	                    <tr><th>1</th><th>网上查车</th><th></th></tr>
	                    </thead>
	                </table>
                </div>
            	</div>
            </div>
            <div class="panel">
                <input type='checkbox' style='vertical-align:middle;' />
            	<a>紧急送油</a>
                <span>缴费方式:</span>
                <input type='radio' id="serverpayment3" name="serverpayment3" style='vertical-align:middle;'/>年
                &nbsp;
                <input type='radio' id="serverpayment3" name="serverpayment3" style='vertical-align:middle;'/>月
                
                <span style="padding-left:16px;">服务项价格:</span>
                <input type='text' id="price3" name='price3'  style="width:150px;" />
                
                <span>截止日期:</span>
                <input type='date' id="server_end_time3" name='server_end_time3'  style="width:150px;" />
                
            	<div id="serverItem3" class="datagrid">
            	<div class="hDiv" style="margin:0px;padding:0px;width:760px;">
	                <table>
	                    <thead>
	                    <tr>
	                        <th style="width:40px;">序号</th>
	                        <th style="width:160px;">服务项名</th>
	                        <th style="width:500px;">服务项描述</th>
	                    </tr>
	                    <tr><th>1</th><th>紧急送油</th><th></th></tr>
	                    </thead>
	                </table>
                </div>
            	</div>
            </div>
        </fieldset>
        
        <div class='title'>历史资料</div>
        <fieldset style="width:800px;">
        	<div id="serverItem1" class="datagrid">
            	<div class="hDiv" style="margin:0px;padding:0px;width:750px;">
	                <table>
	                    <thead>
	                    <tr>
	                        <th style="width:40px;">序号</th>
	                        <th style="width:100px;">注册名</th>
	                        <th style="width:100px;">客户名称</th>
	                        <th style="width:100px;">车牌号码</th>
	                        <th style="width:100px;">车载号码</th>
	                        <th style="width:100px;">修改人</th>
	                        <th style="width:100px;">修改时间</th>
	                        <th style="width:40px;">操作</th>
	                    </tr>
	                    <tr><th>1</th><th>XXXX</th><th>XXXX</th><th>137XXXXXX</th><th>xxxxxx</th><th>张小红</th><th>2014-01-27</th><th><a href=''>查看</a></th></tr>
	                    <tr><th>2</th><th>XXXX</th><th>XXXX</th><th>137XXXXXX</th><th>xxxxxx</th><th>张燕</th><th>2014-01-15</th><th><a href=''>查看</a></th></tr>
	                    </thead>
	                </table>
                </div>
            </div>
        </fieldset>

	</form>
</body>
<script type="text/javascript">
$(function () {
	var flag = 0;
	$("#barcode_sel a").on('click',function(){
		var detail_div = $("<div></div>");
		var detail_id = "barcode_sel"+flag;
		detail_div.attr('id',detail_id);
		detail_div.addClass("panel");
		detail_div.append($("#barcode_sel").html());
		
		$("#barcode_sel").before(detail_div);
		$("#"+detail_id+" img").attr('src','images/form_del.png');
		$("#"+detail_id+" img").attr('title','删除条形码');
		
		$("#"+detail_id+" a").on('click',function(){
			$("#"+detail_id).remove();
		})
		//$("#"+detail_id + " input[list=productList]").on('keyup',checkProduct);
		flag=flag+1;
	});
});
</script>
</html>