<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>重新开通</title>
<style>

</style>
</head>
<body>
	<form id='transfer_view' method='post' class="form" style="width:820px;">
		<fieldset style="width:800px;">
			<div class="panel">
                <span>工单号:</span>
                <input type='text' id="number_plate" name='number_plate' style="width:150px;" />
            </div>
		</fieldset>
		<div class='title'>基础资料</div>
		<fieldset style="width:800px;">
            <div class="panel">
                <span>注册名:</span>
                <input type='text' id="register" name='register'  style="width:150px;" />
                
                <span>服务密码:</span>
                <input type='text' id="server_pwd" name='server_pwd'  style="width:150px;" />
                
                <span>确认密码:</span>
                <input type='text' id="confirm_pwd" name='confirm_pwd'  style="width:150px;" />
            </div>
            <div class="panel">    
                <span>姓名:</span>
                <input type='text' id="customer_name" name='customer_name'  style="width:150px;" />
                
                <span>身份证:</span>
                <input type='text' id="idcard" name='idcard'  style="width:150px;" />
                
                <span>生日:</span>
                <input type='text' id="birthday" name='birthday'  style="width:150px;" />
            </div>
            <div class="panel">    
                <span>性别:</span>
                <input type='hidden' />
                <input type='radio' name='sex' style='vertical-align:middle;' />男
                &nbsp;
                <input type='radio' name='sex' style='vertical-align:middle;' />女
                
                <span style="padding-left:90px;">手机:</span>
                <input type='text' id="mobile" name='mobile'  style="width:150px;" />
                
                <span>邮箱:</span>
                <input type='text' id="email" name='email'  style="width:150px;" />
            </div>
            <div class="panel">    
                <span>VIP等级:</span>
                <select size="1" name="vip" id="vip" style="width:154px;" autocomplete="on">
                    <option value="1">普通卡</option>
                    <option value="2">银卡</option>
                    <option value="3">金卡</option>
                    <option value="4">白金卡</option>
                </select>
                
                <span>联系电话:</span>
                <input type='text' id="phone" name='phone'  style="width:150px;" />
                
                <span>入网状态:</span>
                <select size="1" name="state" id="state" style="width:154px;" autocomplete="on">
                    <option value="1" selected="selected">在网</option>
                    <option value="2">离网</option>
                    <option value="3">欠费</option>
                    <option value="4">非入网</option>
                </select>
            </div>
            <div class="panel">    
                <span>开通时间:</span>
                <input type='text' id="time" name='time'  style="width:150px;" />
                
                <span>办理人:</span>
                <input type='text' id="phone" name='phone'  style="width:150px;" />
            </div>
            <div class="panel">    
                <span>归档合同号:</span>
                <input type='text' id="mobile" name='mobile'  style="width:150px;" />
                
                <span>归档位置:</span>
                <input type='text' id="phone" name='phone'  style="width:402px;" />
            </div>
            <div class="panel">    
                <span>备注:</span>
                <input type='text' id="remark" name='remark'  style="width:654px;" />
            </div>
        </fieldset>
        
        <div class='title'>托收资料></div>
		<fieldset style="width:800px;">
            <div class="panel">
                <span>银行账号:</span>
                <input type='text' id="account" name='account' style="width:150px;" />
                
                <span>确认账号:</span>
                <input type='text' id="confirm_account" name='confirm_account' style="width:150px;" />
                
                <span>账号类型:</span>
                <select size="1" name="account_type" id="account_type" style="width:154px;" autocomplete="on">
                    <option value="1">存折</option>
                    <option value="2">借记卡</option>
                </select>
            </div>
            <div class="panel">
                <span>托收机构:</span>
                <select size="1" name="agency" id="agency" style="width:154px;" autocomplete="on">
                    <option value="1">银联</option>
                    <option value="2">银盛</option>
                </select>
                
                <span>银行:</span>
                <input type='text' id="bank" name='bank' style="width:150px;" />
                
                <span>账号名称:</span>
                <input type='text' id="account_name" name='account_name'  style="width:150px;" />
            </div>
            <div class="panel">
                <span>是否投递:</span>
                <input type='radio' id="is_delivery" name="is_delivery" style='vertical-align:middle;'/>是
                &nbsp;
                <input type='radio' id="is_delivery" name="is_delivery" style='vertical-align:middle;'/>否
                &nbsp;
                <input type='radio' id="is_delivery" name="is_delivery" style='vertical-align:middle;'/>电子账单
                
                <span style="padding-left:12px;">发票收件人:</span>
                <input type='text' id="addressee" name='addressee' style="width:150px;" />
            </div>
            <div class="panel">
                <span>投递地址:</span>
                <select size="1" name="province" id="province" style="width:120px;" autocomplete="on">
                    <option value="1">广东省</option>
                    <option value="2">湖南省</option>
                </select>
                <select size="1" name="city" id="city" style="width:120px;" autocomplete="on">
                    <option value="1">深圳市</option>
                    <option value="2">长沙市</option>
                </select>
                <select size="1" name="area" id="area" style="width:120px;" autocomplete="on">
                    <option value="1">南山区</option>
                    <option value="2">岳麓区</option>
                </select>
                <input type='text' id="address" name='address' style="width:283px;" />
            </div>
        </fieldset>
        
        <div class='title'>历史资料</div>
        <fieldset style="width:800px;">
        	<div id="serverItem1" class="datagrid">
            	<div class="hDiv" style="margin:0px;padding:0px;width:750px;">
	                <table>
	                    <thead>
	                    <tr>
	                        <th style="width:40px;">序号</th>
	                        <th style="width:100px;">注册名</th>
	                        <th style="width:100px;">客户名称</th>
	                        <th style="width:100px;">车牌号码</th>
	                        <th style="width:100px;">车载号码</th>
	                        <th style="width:100px;">修改人</th>
	                        <th style="width:100px;">修改时间</th>
	                        <th style="width:40px;">操作</th>
	                    </tr>
	                    <tr><th>1</th><th>XXXX</th><th>XXXX</th><th>137XXXXXX</th><th>xxxxxx</th><th>张小红</th><th>2014-01-27</th><th><a href=''>查看</a></th></tr>
	                    <tr><th>2</th><th>XXXX</th><th>XXXX</th><th>137XXXXXX</th><th>xxxxxx</th><th>张燕</th><th>2014-01-15</th><th><a href=''>查看</a></th></tr>
	                    </thead>
	                </table>
                </div>
            </div>
        </fieldset>

	</form>
</body>
<script type="text/javascript">
$(function () {
	var flag = 0;
	$("#barcode_sel a").on('click',function(){
		var detail_div = $("<div></div>");
		var detail_id = "barcode_sel"+flag;
		detail_div.attr('id',detail_id);
		detail_div.addClass("panel");
		detail_div.append($("#barcode_sel").html());
		
		$("#barcode_sel").before(detail_div);
		$("#"+detail_id+" img").attr('src','images/form_del.png');
		$("#"+detail_id+" img").attr('title','删除条形码');
		
		$("#"+detail_id+" a").on('click',function(){
			$("#"+detail_id).remove();
		})
		//$("#"+detail_id + " input[list=productList]").on('keyup',checkProduct);
		flag=flag+1;
	});
});
</script>
</html>