*{
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
}
body{
	background-color: #f5f7f8;
	/*overflow: hidden;*/
	min-width: 970px;
}
.home{
	/*margin-left: 72px;*/
	margin-top: 46px;
	height: 750px;
	min-width: 970px;
}
.center{
	width: 78.44%;
	height: 750px;
	position: absolute;
	top: 46px;
	left: 4.31%;
	float: left;
}
ul{
	margin-bottom:0;
}
.right{
	float: right;
	width: 219px;
	border: 1px solid #ccc;
}
.list{
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 0;
	height: 120px;
	box-shadow: 0 0 14px 2px  #e0e1e2;
	-moz-box-shadow:0 0 14px 2px  #e0e1e2;
	-webkit-box-shadow:0 0 14px 2px #e0e1e2;
	-o-box-shadow:0 0 14px 2px #e0e1e2;
}
.listLi{
	float: left;
	list-style: none;
	background-color: #fff;
	width: 20%;
	height: 120px;
	position: relative;
	cursor:pointer;
}
.listLi:hover{
	background-color:#f8f8f8;
}
.listLi:after{
	content: '';
	position: absolute;
	height: 80px;
	width: 2px;
	background-color: #eef0f1;
	right: 0;
	top:21px;
}
.listName{
	position: absolute;
	top:25%;
	left: 19.16%;
	font-size: 16px;
	color:#808080;
}
.listNum img{
	float:left;
}
.listNum{
	position: absolute;
	top:50%;
	left: 19.16%;
	/*color:rgba(0,0,0,0);*/
	/*background: url(../../images/shouye/topNum.png) 0 0 no-repeat;
	-webkit-background-clip:text;
	background-clip:text;
	-moz-background-clip:text;
	-o-background-clip:text;
	transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	animation:NumMove 1s infinite ease 0s alternate;
	-webkit-animation:NumMove 1s infinite ease 0s alternate;
	-moz-animation:NumMove 1s infinite ease 0s alternate;
	-o-animation:NumMove 1s infinite ease 0s alternate;*/
}
/*.listLi.active:hover .listNum{
	background-position: 0 -28px;
}*/
/*@keyframes NumMove{
	0%{background-position: 0 0}
	100%{background-position: 0 -28px}
}
@-webkit-keyframes NumMove{
	0%{background-position: 0 0}
	100%{background-position: 0 -28px}
}
@-o-keyframes NumMove{
	0%{background-position: 0 0}
	100%{background-position: 0 -28px}
}
@-moz-keyframes NumMove{
	0%{background-position: 0 0}
	100%{background-position: 0 -28px}
}
*/
.list .listLi:nth-of-type(5):after{
	width: 0;
}
.middle{
	margin-top: 14px;
	height: 300px;
}
.middleLeft{
	width: 39.5%;
	height: 300px;
	position: relative;
	background-color: #fff;
	float: left;
	box-shadow: 0 0 14px 2px  #e0e1e2;
	-moz-box-shadow:0 0 14px 2px  #e0e1e2;
	-webkit-box-shadow:0 0 14px 2px #e0e1e2;
	-o-box-shadow:0 0 14px 2px #e0e1e2;
	border-radius: 8px;
	cursor:pointer;
}
.middleLeft:hover{
	background-color:#f8f8f8;
}
.middleCenter{
	width: 34.5%;
	height: 300px;
	position: relative;
	background-color: #fff;
	margin-left: 16px;
	float: left;
	box-shadow: 0 0 14px 2px  #e0e1e2;
	-moz-box-shadow:0 0 14px 2px  #e0e1e2;
	-webkit-box-shadow:0 0 14px 2px #e0e1e2;
	-o-box-shadow:0 0 14px 2px #e0e1e2;
	border-radius: 8px;
	cursor:pointer;
}
.middleCenter:hover{
	background-color:#f8f8f8;
}
.db1{
	position: absolute;
	bottom:147px;
	left: 15.71%;
	width:6.20%;
	height: 31px;
}
.db2{
	position: absolute;
	bottom: 70px;
	left:76.11%;
	width:6.20%;
	height: 31px;
}
.xian{
	position: absolute;
	top:122px;
	left: 18.58%;
	width: 60.62%;
	height: 128px;
}
.middleRight{
	width: 23.66%;
	height: 300px;
	position: relative;
	background-color: #fff;
	float: left;
	margin-left: 13px;
	box-shadow: 0 0 14px 2px  #e0e1e2;
	-moz-box-shadow:0 0 14px 2px  #e0e1e2;
	-webkit-box-shadow:0 0 14px 2px #e0e1e2;
	-o-box-shadow:0 0 14px 2px #e0e1e2;
	border-radius: 8px;
}
.rdfxTB{
	width: 25px;
	height: 24px;
	position: absolute;
	left: 9.6%;
	top: 20px;
}
.rdfxName{
	position: absolute;
	top:22px;
	left: 18.53%;
	font-size: 16px;
	color:#4c4c4c;
}
.rdfxPic{
	position: absolute;
	top:65px;
	left: 11.39%;
	width: 82.82%;
	height:220px;
}
.cpgjTB{
	width: 28px;
	height: 23px;
	position: absolute;
	left: 27px;
	top: 17px;
}
.cpgjName{
	position: absolute;
	top:22px;
	left: 74px;
	font-size: 16px;
	color:#4c4c4c;
}
.cpgjPic{
	position: absolute;
	top:66px;
	left: 6%;
	width: 87.83%;
	height: 222px;
}
.middleRight{
	background: #fff;
}
.middleR{
	height: 100px;
	width: 100%;
	border-bottom: 2px solid #eef0f1;
	position: relative;
	cursor:pointer;
}
.middleR:hover{
	background-color:#f8f8f8;
}
.middleRight .middleR:nth-of-type(3){
	border: none;
}
.gfxCarName{
	position: absolute;
	top: 30px;
	left: 132px;
	font-size: 12px;
	color:#333;
}
.gfcCarNum{
	position: absolute;
	top:53px;
	left: 132px;
	color: #e9573e;
	font-size: 30px;
	line-height: 30px;
}
.rc2{
	position: absolute;
	top:17px;
	left:29px; 
}
.rc2Num{
	position: absolute;
	top:50px;
	left: 132px;
	font-size: 30px;
	color:#37bd9c;
	line-height: 30px;
}
.noLine,.yqNum{
	position: absolute;
	top: 30px;
	left: 132px;
	font-size: 12px;
	color:#333;
}
.bottom{
	margin-top: 14px;
	height: 300px;
}
.bottom > div{
	position: relative;
	box-shadow: 0 0 14px 2px  #e0e1e2;
	-moz-box-shadow:0 0 14px 2px  #e0e1e2;
	-webkit-box-shadow:0 0 14px 2px #e0e1e2;
	-o-box-shadow:0 0 14px 2px #e0e1e2;
	border-radius: 8px;
	background-color: #fff;
}
.bottomL{
	width: 63.7%;
	height: 300px;
	float: left;
}
.bottomR{
	float: left;
	width:35.11%;
	height:300px;
	margin-left: 12px;
}
.nowDay{
	position: absolute;
	left: 5.868%;
	top: 17px;
	font-size: 16px;
	color:#4c4c4c;
	line-height: 16px;
}
.danWei{
	position: absolute;
	left: 200px;
	top: 22px;
	font-size: 12px;
	line-height: 12px;
	color:#808080;
}
.nowDate{
	position: absolute;
	top: 20px;
	right: 32px;
	font-size: 14px;
	color:#808080;
}
#bottomPic{
	width: 91.85%;
	height: 230px;
	position: absolute;
	top:56px;
	left: 5.868%
}
.nowDayTongji{
	position: absolute;
	top: 19px;
	left: 4.78%;
	font-size: 16px;
	color: #4c4c4c;
	line-height: 16px;
}
.danWei1{
	position: absolute;
	top:24px;
	left: 187px;
	font-size: 12px;
	color:#808080;
	line-height: 12px;
}
.outLine{
	position: absolute;
	top: 107px;
	left: 4.78%;
	font-size: 14px;
	color: #808080;
	padding-left: 34px;
	z-index: 2;
}
.bottomR .outLine::before{
	content: '';
	width: 16px;
	height: 16px;
	background-color: #fa9e8d;
	border-radius: 50%;
	position: absolute;
	left: 0;
}
.inLine{
	position: absolute;
	top: 232px;
	left: 4.78%;
	font-size: 14px;
	color: #808080;
	padding-left: 34px;
	z-index: 2;
}
.bottomR .inLine::before{
	content: '';
	width: 16px;
	height: 16px;
	background-color: #81aed1;
	border-radius: 50%;
	position: absolute;
	left: 0;
}
#bottomPic2{
	position: absolute;
	left: 28.7%;
	top:76px;
	width: 57.61%;
	height: 172px;
}
.jglb{
	background-color: #4295dd;
	height: 60px;
	line-height: 60px;
	color: #fffefe;
	padding-left: 26px;
	position: relative;
	border-top: 1px solid #6fb4e6;
	/*box-shadow: 0 0 5px  #232b3c inset;*/
}
.right .jglb:after{
	content:'';
	position: absolute;
	right: 18px;
	width: 12px;
	height: 12px;
	border: 2px solid #e6e6e6;
	border-top: none;
	border-right: none;
	top:24px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.jgList{
	background-color: #3889cf;
	height: 60px;
	line-height: 60px;
	color: #fffefe;
	padding-left: 26px;
	width: 196px;
	margin-top: -10px;
	white-space:nowrap;
	cursor:pointer;
}
.newsBtn{width:25px;height: 25px;position: absolute;top:20px;right: 20px;background:rgba(35,117,180,1);border-radius: 50%; }
.newsBtn span{width: 25px;height: 25px;position: absolute;border-radius: 50%;background: rgba(255,255,255,0);
	/*background: rgba(35,117,180,0.3);*/opacity: 0;
	/*transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(1);
	-o-transform:scale(1);*/
}
.newsBtn span:nth-of-type(1){
	border: 1px solid #458fc9;
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-o-transform:scale(1.3);
	/*animation:newsBtn 1.5s infinite alternate;
	-webkit-animation:newsBtn 1.5s infinite alternate;
	-o-animation:newsBtn 1.5s infinite alternate;
	-moz-animation:newsBtn 1.5s infinite alternate;*/
	animation:newsBtnFir 4s ease-in 1s infinite;
	-webkit-animation:newsBtnFir 4s ease-in 1s infinite;
	-o-animation:newsBtnFir 4s ease-in 1s infinite;
	-moz-animation:newsBtnFir 4s  ease-in 1s infinite;
}
.newsBtn span:nth-of-type(2){
	border: 1px solid #64a4d6;
	transform:scale(1.7);
	-webkit-transform:scale(1.7);
	-moz-transform:scale(1.7);
	-o-transform:scale(1.7);
	/*animation:newsBtn 1.5s 0.7s infinite alternate;
	-moz-animation:newsBtn 1.5s 0.7s infinite alternate;
	-webkit-animation:newsBtn 1.5s 0.7s infinite alternate;
	-o-animation:newsBtn 1.5s 0.7s infinite alternate;*/
	animation:newsBtnTwo 4s ease-in 1s infinite;
	-webkit-animation:newsBtnTwo 4s ease-in 1s infinite;
	-o-animation:newsBtnTwo 4s ease-in 1s infinite;
	-moz-animation:newsBtnTwo 4s ease-in 1s infinite;
}
.newsBtn span:nth-of-type(3){
	border: 1px solid #96bddb;
	transform:scale(2.2);
	-webkit-transform:scale(2.2);
	-moz-transform:scale(2.2);
	-o-transform:scale(2.2);
	/*animation:newsBtn 1.5s 1.5s infinite alternate;
	-webkit-animation:newsBtn 1.5s 1.5s infinite alternate;
	-moz-animation:newsBtn 1.5s 1.5s infinite alternate;
	-o-animation:newsBtn 1.5s 1.5s infinite alternate;*/
	animation:newsBtnThr 4s ease-in 1s infinite;
	-webkit-animation:newsBtnThr 4s ease-in 1s infinite;
	-o-animation:newsBtnThr 4s ease-in 1s infinite;
	-moz-animation:newsBtnThr 4s ease-in 1s infinite;
}
.one{
	top:40%;
	left: 25%;
}
.two{
	top:70%;
	left: 37%;
}
.three{
	top:47%;
	left: 47%;
}
.four{
	top:46%;
	left: 68%;
}
.five{
	top: 64%;
	left: 80%;
}
/*第一圈圆*/
@keyframes newsBtnFir{
	0%{opacity: 0;}
	25%{opacity: 0;}
	30%{opacity: 0.95;}
	70%{opacity: 0;}
}
@-webkit-keyframes newsBtnFir{
	0%{opacity: 0;}
	25%{opacity: 0;}
	30%{opacity: 0.95;}
	70%{opacity: 0;}
}
@-moz-keyframes newsBtnFir{
	0%{opacity: 0;}
	25%{opacity: 0;}
	30%{opacity: 0.95;}
	70%{opacity: 0;}
}
@-o-keyframes newsBtnFir{
	0%{opacity: 0;}
	25%{opacity: 0;}
	30%{opacity: 0.95;}
	70%{opacity: 0;}
}
/*第二圈圆*/
@keyframes newsBtnTwo{
	0%{opacity: 0;}
	35%{opacity: 0;}
	40%{opacity: 0.85;}
	80%{opacity: 0;}
}
@-webkit-keyframes newsBtnTwo{
	0%{opacity: 0;}
	35%{opacity: 0;}
	40%{opacity: 0.85;}
	80%{opacity: 0;}
}
@-moz-keyframes newsBtnTwo{
	0%{opacity: 0;}
	35%{opacity: 0;}
	40%{opacity: 0.85;}
	80%{opacity: 0;}
}
@-o-keyframes newsBtnTwo{
	0%{opacity: 0;}
	35%{opacity: 0;}
	40%{opacity: 0.85;}
	80%{opacity: 0;}
}
/*第三圈圆*/
@keyframes newsBtnThr{
	0%{opacity: 0;}
	40%{opacity: 0;}
	47%{opacity: 0.7;}
	90%{opacity: 0;}
}
@-webkit-keyframes newsBtnThr{
	0%{opacity: 0;}
	40%{opacity: 0;}
	47%{opacity: 0.7;}
	90%{opacity: 0;}
}
@-moz-keyframes newsBtnThr{
	0%{opacity: 0;}
	40%{opacity: 0;}
	47%{opacity: 0.7;}
	90%{opacity: 0;}
}
@-o-keyframes newsBtnThr{
	0%{opacity: 0;}
	40%{opacity: 0;}
	47%{opacity: 0.7;}
	90%{opacity: 0;}
}
.jglbUl{
	/*overflow: auto;*/
	height: 500px;
	overflow-x:auto;
	overflow-y:auto;
	width:200px;
}
.jglbUl::-webkit-scrollbar{width:4px;height: 4px;}
.jglbUl::-webkit-scrollbar-track{
	background-color:#4295dd;
	-webkit-border-radius: 2px;
    border-radius: 2px;
}
.jglbUl::-webkit-scrollbar-thumb{background-color:#2970ad;}
.jglbUl::-webkit-scrollbar-thumb:hover {background-color:#38be9e;}
.jglbUl::-webkit-scrollbar-thumb:active {background-color:#2970ad;}

.mask{
	width: 218px;
	background-color: #3889cf;
	padding-top: 20px;
	padding-bottom: 100px;
	border-top: 2px solid #3684c5;
	border-left: 2px solid #3684c5;
}
li.jgList:hover{
	color:#bfbfbf;
}


@media screen and (min-width:1668px) and (max-width:1920px){
	.middleRight{
		margin-left: 13px;
	}
}

@media screen and (min-width:1421px) and (max-width:1667px){
	.middleRight{
		margin-left: 12px;
	}
	.middleCenter{
		margin-left: 13px;
	}
}

@media screen and (min-width:1250px) and (max-width:1420px){
	.middleRight{
		margin-left:11px;
	}
	.middleCenter{
		margin-left: 12px;
	}
	.center{
		left: 1.7%;
	}
	.bottomR{
		margin-left: 11px;
	}
	.right{
		width: 190px;
	}
	.jglb{
		padding-left: 18px;
	}
	.mask{
		width: 189px;
	}
	.jglbUl{
		width: 172px;
	}
	.center{
		top:33px;
	}
	.home{
		margin-top:33px;
	}
}

@media screen and (min-width:1125px) and (max-width:1249px){
	.middleRight{
		margin-left: 7px;
	}
	.middleCenter{
		margin-left: 10px;
	}
	.center{
		left: 1.7%;
	}
	.bottomR{
		margin-left: 7px;
	}
	.gfxCarName,.yqNum,.noLine{
		left: 116px;
	}
	.gfcCarNum,.rc2Num{
		left: 114px;
	}
	.right{
		width: 190px;
	}
	.jglb{
		padding-left: 18px;
	}
	.mask{
		width: 189px;
	}
	.jglbUl{
		width: 172px;
	}
	.center{
		top:33px;
	}
	.home{
		margin-top:33px;
	}
}
@media screen and (min-width:970px) and (max-width:1124px){
	.middleRight{
		margin-left: 7px;
	}
	.middleCenter{
		margin-left: 10px;
	}
	.center{
		left: 1.7%;
	}
	.bottomR{
		margin-left: 7px;
	}
	.gfxCarName,.yqNum,.noLine{
		left: 100px;
	}
	.gfcCarNum,.rc2Num{
		left: 98px;
	}
	.rc2{
		left: 18px;
	}
	.right{
		width: 190px;
	}
	.jglb{
		padding-left: 18px;
	}
	.mask{
		width: 189px;
	}
	.jglbUl{
		width: 172px;
	}
	.center{
		top:33px;
	}
	.home{
		margin-top:33px;
	}
	.noLine{
		top:15px;
		right: 20px;
	}
	.listName{
		left: 20px;
	}
	.listNum{
		left: 20px;
	}
}